* 

!.github
!.github/**/*
!.storybook
!.storybook/**/*
!src
!src/**/*
!.gitignore
!.npmrc
!.nvmrc
!Dockerfile
!eslint.config.js
!index.html
!LICENSE
!nginx.conf
!pnpm-lock.yaml
!package.json
!README.md
!tsconfig.app.json
!tsconfig.json
!tsconfig.node.json
!vite.config.ts
!vitest.shims.d.ts