* 

!.devcontainer
!.devcontainer/**/*
!.github
!.husky
!.husky/**/*
!.github/**/*
!.storybook
!.storybook/**/*
!docs
!docs/**/*
!src
!src/**/*

!.dockerignore
!.gitignore
!.lintstagedrc
!.npmrc
!.nvmrc
!.prettierrc
!commitlint.config.js
!Dockerfile
!eslint.config.js
!index.html
!LICENSE
!nginx.conf
!pnpm-lock.yaml
!pnpm-workspace.yaml
!package.json
!README.md
!tsconfig.app.json
!tsconfig.json
!tsconfig.node.json
!vite.config.ts
!vitest.shims.d.ts